fastapi
uvicorn[standard]
# pydantic==2.5.3
pydantic
pydantic-settings
python-multipart
pyswisseph
geopy
timezonefinder
pytz
python-dotenv

# do: pip install -r requirements.txt


python-doctr

cloudinary 
gunicorn
pytest
pytest-asyncio
openai>=1.42.0
pinecone

numpy
pandas
PyYAML
requests
httpx